.card {
  aspect-ratio: 1 / 1; /* Ensures square shape */
  /* Optional: Add content styling */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid green;
}

.image {
  width: 100%;
  height: 100%;
}
